body{
    padding-left: 100px;
    padding-right: 100px;

}
h1{
    text-align: center;
    background-image: url("https://www.yorokobu.es/src/uploads/2018/01/wood-3107139_1920-1.jpg");
    padding-bottom: 50px;
    padding-top: 50px;
    color: white;
    letter-spacing: 10px;
    border: black;
    border-width: 2px;
    border-style: solid;
}
#inicio{
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    height: 20%;
    border: black;
    border-width: 2px;
    border-style: solid;
    float: left;
    background-color: grey;
    color: white;
    text-align: center;
}
#es{
    background-image: url("https://lh3.googleusercontent.com/proxy/3orCGP9MD1yOMkaZncnhF9cRBvRX3etpu3S3z-NhRvKhho-SXwvehgpahUPv64dIHj7LvyhPHNx66dYr_f5V23m1bkewB4hzXlyxQTObHLo");
    color: white;
    padding-bottom: 2px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 2px;

}
#scale{
    text-align: center;
    background-image: url("https://www.yorokobu.es/src/uploads/2018/01/wood-3107139_1920-1.jpg");
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
    letter-spacing: 10px;
    border: black;
    border-width: 2px;
    border-style: solid;
}
img{
    width: 200px;
    height: 125px;
}
#cuadro{
    border-width: 2px;
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: whitesmoke;
}
#cuadro1{
    border: black;
    float: left;
    text-align: center;
}
#cuadro2{
    border: black;
    float: left;
    text-align: center;
}
#cuadro3{
    border: black;
    text-align: center;
}
#biblio{
    text-align: center;
    background-image: url("https://www.yorokobu.es/src/uploads/2018/01/wood-3107139_1920-1.jpg");
    padding-bottom: 20px;
    padding-top: 20px;
    color: black;
    letter-spacing: 10px;
    border: black;
    border-width: 2px;
    border-style: solid;
}
#lise{
    color: black;
    float: left;
    background-color: darkgrey;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border: black;
    border-width: 2px;
    border-style: solid;
}
@media (max-width: 600px) {
    #figure2{
        display: none;
    }
}